<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Nomeusuario:</strong>
  <%= @pessoa.nomeUsuario %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @pessoa.senha %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
