<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @atividade.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atividade.descricao %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @atividade.duracao %>
</p>

<p>
  <strong>Palestrante:</strong>
  <%= @atividade.palestrante %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
