<h1>UNB Eventos</h1>
<% if user_signed_in? %>
<ul>
  <li><%= link_to "Sair", destroy_user_session_path, method: :DELETE%></li>
</ul>
<%else%>
  <ul>
    <li><%= link_to "Cadastro de novo usuario", new_user_registration_path%></li>
    <li><%= link_to "Logar", new_user_session_path%></li>
  </ul>
<%end %>
