<p id="notice"><%= notice %></p>
  <div class="container container mt-4 mb-5">
       <h3 class="display-4 text-center"> Eventos </h3>
       <hr class="bg-dark mb-4 w-25">
       <div class="row">
         <% @eventos.each do |evento| %>
           <div class="col-md-4">
               <div class="card">
                   <img class="card-img-top" src="<%= evento.image_url.to_s %>" alt="Card image cap">
                   <div class="card-block p-3">
                       <h4 class="card-title"><%= evento.nome %></h4>
                       <p class="card-text"><%= evento.descricao %></p>
                       <p class="card-text"><%= link_to 'Mostrar mais', evento %></p>
                   </div>
               </div>
           </div>
             <% end %>
          </div>
      </div>
