<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <h3 class="display-4"><%= @evento.nome %></h3>
            <hr class="bg-dark w-25 ml-0">
            <p class="lead">
              Local: <%= @evento.local %>
            </p>
            <p>
                <%= @evento.descricao %>
            </p>
            <ul class="list-unstyled pl-4">
                <li><i class="fa fa-check"></i> Data: <%= @evento.data %></li>
                <li><i class="fa fa-check"></i> Horario inicial: <%= @evento.horarioInicial %>. Horario final: <%= @evento.horarioFinal %> </li>
                <li><i class="fa fa-check"></i> Palestrante é o <%= @evento.palestrante %>, organizado por <%= @evento.organizador %> </li>
                <% if current_user.email == @evento.organizador %>
                <li><i class="fa fa-check"></i><td><%= link_to 'Edit', edit_evento_path(@evento) %></td></li>
                <li><i class="fa fa-check"></i><td><%= link_to 'Destroy', @evento, method: :delete, data: { confirm: 'Are you sure?' } %></td></li>
                <%end %>
            </ul>
        </div>
        <div class="col-md-4 mt-5">
          <img class="card-img-top" src=<@evento.image alt="Card image cap">

          <!--<#% if current_user.email == @evento.organizador %> <#%end %><img class="card-img-top" src="<""%= evento.image_url.to_s %>" alt="Card image cap"> -->
        </div>
    </div>
</div>
