<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>UnB Enventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
    .bg-dark {
    background-color: #343a40!important;
    }    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    window.alert = function(){};
    var defaultCSS = document.getElementById('bootstrap-css');
    function changeCSS(css){
    if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
    else $('head > link').filter(':first').replaceWith(defaultCSS);
    }
    $( document ).ready(function() {
    var iframe_height = parseInt($('html').height());
    window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
    });
    </script>
    <title>Ep3Oo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" href="#">UnB Eventos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/eventos">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/eventos/new">Criar um evento</a>
                    <li class="nav-item">
                        <% if user_signed_in? %><a class="nav-link text-white" rel="nofollow" data-method="DELETE" href="/users/sign_out">Sair</a>
                          <%else%><a class="nav-link text-white" href="/users/sign_in">Entrar</a>
                        <%end %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->
<div class = "container pt-5 pb-2">
  </div>
  <%= yield %>
    <!-- Footer Links -->
<div class="container pt-5 pb-2">
    <div class="row">

        <div class="col-md-3 col-lg-4 col-xl-3">
            <h4>UnB Eventos</h4>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            <p>
                Trabalho em Ruby on Rails da matéria de Orientação a Objetos.
            </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
            <h4>Useful links</h4>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            <p><a href="/eventos" class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">Home</a></p>
            <p><a href="/eventos/new" class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">Criar um evento</a></p>
            <p><% if user_signed_in? %><a class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25" rel="nofollow" data-method="DELETE" href="/users/sign_out">Sair</a>
              <%else%><a class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25"  href="/users/sign_in">Entrar</a>
            <%end %></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3">
            <h4>Contact</h4>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            <p><i class="fa fa-home mr-3"></i> Alunas</p>
            <p><i class="fa fa-envelope mr-3"></i> gibottino@gmail.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 55 61 98581-9745</p>
            <p><i class="fa fa-envelope mr-3"></i> dannysoaresdeoliveira@gmail.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 98 765 432 11</p>
        </div>

    </div>
</div>
<!-- Footer Links-->
  </body>
</html>
